{% extends 'base.html' %}
{% block content %}

    <div class="container my-4">
        <h2>About us </h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid temporibus suscipit repudiandae! Corrupti nobis ab, labore nulla soluta odio? Maxime amet reiciendis voluptate accusamus repellendus totam perferendis ipsam debitis! Dolores voluptatem est labore autem, quod explicabo corrupti aspernatur hic eveniet quis quae at? Nobis odit autem provident sed excepturi. Minima pariatur ullam ea, earum fugiat quibusdam beatae omnis? Fugit, sit.'</p>
        <h3>Our Latest contents</h3>
        <div class="media">
            <img class="mr-3" src="../static/img/World-News.png" alt="Generic placeholder image">
            <div class="media-body">
              <h3 class="mt-0">Corona News</h3>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          
              <div class="media mt-3">
                <a class="pr-3" href="#">
                  <img src="../static/img/logo.png" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                  <h3 class="mt-0">World News</h3>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>
            </div>
          </div>
    </div>


{% endblock %}