{% extends 'base.html' %}
{% block content %}
        <h1>This is a Home page</h1>
        <h3>Data are rendering here</h3>

        {% for detail in my %}
        <div class="main"> {{forloop.counter0}} : {{detail}}</div>
        <!-- <div class="main"> {{forloop.revcounter}} : {{detail}}</div> -->
        <!-- <div class="main"> {{forloop.first}} : {{detail}}</div>  make first one is true and other is True -->
        <!-- <div class="main"> {{forloop.last}} : {{detail}} </div> -->
        {% endfor %}


        <br />
        <table border='1' cellpadding='10'>

            <tr>
                <th>Name</th>
                <th>Phone</th>
            </tr>
            {% for d in data%}
            <tr>
                <th>{{forloop.counter}}. {{d.name}}</th>
                <th>{{d.phone}}</th>
            </tr>
            {% endfor %}

        </table>



        <!-- if/else/elif  -->
<!-- using if/else condition -->
    {% if numbers|length > 0 %}
        <br>
       {% for n in numbers %}

       <!-- using of if in Django -->
            {% if n > 30 %}
            <div>{{n}}</div>
            {% endif %}

       {% endfor %}
    
    {% else %}
        No Data Found!
    {% endif %}


    {% endblock %}
