<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>First Website</title>
        <link rel="stylesheet" href="../template/static/style.css">
    </head>

    <body>
        <header>
            <div class="container">
                <div class="navbar">
                    <img src="../template/img/Site-logo.png" alt="">
                    <nav>
                        <a href="./about.html">About</a>
                        <a href="./contact.html">Contact</a>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section>
                <div class="container">
                    <div class="hero">
                        <div class="hero-text">
                            <h1 class="first1">Hi I’m Mehmet Akif Karasu.</h1>
                            <p class="second1">My work is mainly focused on third-dimension modeling, texturing and
                                rendering.
                            </p>
                        </div>
                    </div>
                </div>

                
                <div class="container">
                    <p class="first1">Lorem ipsum dolor sit amet.</p>
                    <p class="first1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint optio dignissimos,
                        ullam quas laboriosam perferendis.</p>
                    <p class="second1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis officia
                        voluptatem, hic fugiat saepe ea.
                    </p>
                </div>
            

                <div class="container">
                    <p class="first1">Lorem ipsum dolor sit amet.</p>
                    <p class="first1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint optio dignissimos,
                        ullam quas laboriosam perferendis.</p>
                    <p class="second1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis officia
                        voluptatem, hic fugiat saepe ea.
                    </p>
                </div>
            

                <div class="container">
                    <p class="first1">Lorem ipsum dolor sit amet.</p>
                    <p class="first1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint optio dignissimos,
                        ullam quas laboriosam perferendis.</p>
                    <p class="second1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis officia
                        voluptatem, hic fugiat saepe ea.
                    </p>
                </div>
            

                <footer>
                    <div class="container">
                        <div class="first">
                            <p>I am thrilling to answer ur questions </p>
                        </div>
                        <div class="second">
                            <p>yogeshkhanal@gmail.com</p>
                            <p>View Projects</p>
                        </div>
                        <p class="olla"><a href="#">Facebook</a></p>
                        <p class="olla"><a href="#">Instagram</a></p>
                        <p class="olla"><a href="#">Github</a></p>

                    </div>
                </footer>
    </body>

</html>