<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>First Website</title>
        <link rel="stylesheet" href="../template/static/style.css">
    </head>

    <body>
        <header>
            <div class="container">
                <div class="navbar">
                    <img src="../template/img/Site-logo.png" alt="">
                    <nav>
                        <a href="./about.html">About</a>
                        <a href="./contact.html">Contact</a>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section>
                <div class="container">
                    <div class="hero">
                        <div class="hero-text">
                            <h1>Hi I’m Mehmet Akif Karasu, 3D artist & sculptor.</h1>
                            <p>My work is mainly focused on third-dimension modeling, texturing and rendering. I like
                                exploring the creatures with a touch of dark surrealism for characters and production.
                            </p>
                            <p>Now I’m an interactive media design student in Istanbul ⏤ currently freelancing and
                                seeking internship opportunities.</p>
                        </div>
                        <div class="hero-img">
                            <img src="../template/img/Profile Photo.png" alt="">
                        </div>
                    </div>
                </div>

            </section>
            <section>
                <div class="container container1">
                    <h2>Main Section</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maxime distinctio</p>
                </div>
            </section>
            <section>
                <div class="container container1">
                    <h2>Main section</h2>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, aspernatur sit quod</p>
                </div>
            </section>
        </main>
        <hr class="hello">

        <footer>
            <div class="container">
                <div class="first">
                    <p>I am thrilling to answer ur questions </p>
                </div>
                <div class="second">
                    <p>yogeshkhanal@gmail.com</p>
                    <p>View Projects</p>
                </div>
                <p class="olla"><a href="#">Facebook</a></p>
                <p class="olla"><a href="#">Instagram</a></p>
                <p class="olla"><a href="https://github.com/yoge-esh">Github</a></p>
                
            </div>
        </footer>
    </body>

</html>