*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
  background-color: crimson;
  color: aliceblue;
  padding: 10px;
  text-decoration: none;
  list-style: none;
}
.nav {
  background-color: brown;
  padding: 15px;
  text-align: center;
  list-style: none;
}
.active{
  background-color: crimson;
  color: white;
  list-style: none;
  padding: 10px;
  width: fit-content;
}
